.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.title {
  margin: 0;
  font-weight: 500;
  color: #6e3ff3;
  font-size: 17px;
}

.infoContainer {
  margin-top: 15px;
}

.label {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.value {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #333;
}

.walletIcon {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.disconnectButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  background-color: #ff4d4f;
  color: white;
}

.disconnectButton:hover {
  background-color: #ff7875;
}

.disconnectButton:focus {
  box-shadow: 0 0 0 2px #ff7875;
}

.closeButton {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #777;
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeButton:hover {
  background-color: #f1f1f1;
}

.closeButton:focus {
  box-shadow: 0 0 0 2px #6e3ff3;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

